@import 'tw-animate-css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Geist', 'Geist Fallback', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'Geist Mono', 'Geist Mono Fallback', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-kaushan-script: 'Kaushan Script', cursive;
  --tracking-normal: 0em;

  --background: 14 26 31;
  --foreground: 167 199 213;
  --card: 10 32 38;
  --card-foreground: 132 165 179;
  --popover: 10 32 38;
  --popover-foreground: 197 245 245;
  --primary: 29 184 206;
  --primary-foreground: 255 255 255;
  --secondary: 38 38 43;
  --secondary-foreground: 245 245 245;
  --muted: 11 20 24;
  --muted-foreground: 104 127 136;
  --accent: 3 18 21;
  --accent-foreground: 245 245 245;
  --destructive: 241 68 68;
  --border: 51 64 67;
  --input: 43 43 43;
  --ring: 29 184 206;
  --chart-1: 29 184 206;
  --chart-2: 66 207 228;
  --chart-3: 73 196 214;
  --chart-4: 112 218 234;
  --chart-5: 0 134 155;
  --sidebar: 20 20 20;
  --sidebar-foreground: 245 245 245;
  --sidebar-primary: 29 184 206;
  --sidebar-primary-foreground: 255 255 255;
  --sidebar-accent: 31 31 31;
  --sidebar-accent-foreground: 245 245 245;
  --sidebar-border: 43 43 43;
  --sidebar-ring: 29 184 206;

  --shadow-color: 0% 0 0;
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --shadow-2xs: 0px 1px 2px 0px rgba(0 0 0 / 0.05);
  --shadow-xs: 0px 1px 2px 0px rgba(0 0 0 / 0.05);
  --shadow-sm: 0px 1px 3px 0px rgba(0 0 0 / 0.1), 0px 1px 2px -1px rgba(0 0 0 / 0.1);
  --shadow: 0px 1px 3px 0px rgba(0 0 0 / 0.1), 0px 1px 2px -1px rgba(0 0 0 / 0.1);
  --shadow-md: 0px 4px 6px -1px rgba(0 0 0 / 0.1), 0px 2px 4px -2px rgba(0 0 0 / 0.1);
  --shadow-lg: 0px 10px 15px -3px rgba(0 0 0 / 0.1), 0px 4px 6px -4px rgba(0 0 0 / 0.1);
  --shadow-xl: 0px 20px 25px -5px rgba(0 0 0 / 0.1), 0px 8px 10px -6px rgba(0 0 0 / 0.1);
  --shadow-2xl: 0px 25px 50px -12px rgba(0 0 0 / 0.25);

  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  .font-script {
    font-family: var(--font-kaushan-script);
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  [data-slot='navigation-menu-content'] [data-slot='navigation-menu-link']:focus {
    @apply ring-0 outline-none;
  }

  button,
  [data-slot='combobox-item'],
  [data-slot='command-item'],
  [data-slot='context-menu-item'],
  [data-slot='context-menu-checkbox-item'],
  [data-slot='context-menu-radio-item'],
  [data-slot='dropdown-menu-item'],
  [data-slot='dropdown-menu-checkbox-item'],
  [data-slot='dropdown-menu-radio-item'],
  [data-slot='select-item'] {
    @apply !cursor-pointer;
  }
}

button {
  @apply cursor-pointer;
}
