---
import '@/styles/global.css'

import { ClientRouter } from 'astro:transitions'

import HeadSeo from '@/layouts/HeadSeo.astro'
import Header from '@/components/layout/header'
import Footer from '@/components/layout/footer'
import { navigationData } from '@/assets/data/header'
import { getLangFromUrl } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)

interface Props {
  title?: string
  description?: string
  image?: string
  type?: 'website' | 'article'
  keywords?: string
  author?: string
  publishedTime?: string
  modifiedTime?: string
  noindex?: boolean
  nofollow?: boolean
  schema?: Record<string, any>
}

const seoProps = Astro.props as Props
---

<!doctype html>
<html lang={lang} class='scroll-smooth'>
  <head>
    <HeadSeo {...seoProps} />
    <ClientRouter />
    <style>
      /* Disable all view transitions while keeping client-side navigation */
      ::view-transition-group(*),
      ::view-transition-old(*),
      ::view-transition-new(*) {
        animation-duration: 0ms !important;
      }
    </style>
  </head>
  <body class='flex min-h-full w-full flex-auto flex-col'>
    <div class='flex flex-col'>
      <Header navigationData={navigationData} lang={lang} client:load />

      <main class='flex flex-col pt-40 lg:pt-18'><slot /></main>

      <Footer lang={lang} client:load />
    </div>
  </body>
</html>
